header {
    background-color: #333333f8;
    color: #fff;
    text-align: center;
    padding: 50px;
    height: 100%;
    position: fixed;
    left: 50px;
}

h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 800;
}

.profile-photo {
    margin: 15px 0px 0px 0px;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.links {
    margin: 20px 0px 0px 0px;
}

.link-block {
    padding: 10px 20px;
}

body {
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    margin: 0;
    display: flex;
    justify-content: center;
    line-height: 1.42857143;
    font-size: 14px;
    background-image: url('https://kartinki.pics/uploads/posts/2021-07/1627210483_24-kartinkin-com-p-fon-kirpich-neon-krasivo-31.jpg');
    background-size: cover;
    background-attachment: fixed;
}

main {
    width: 800px;
    margin: 20px 0px 20px 350px;
    padding: 4rem;
    background-color: #fffffff6;
    border-radius: 5px;
}

h2 {
    color: #f03e3e;
    letter-spacing: 2px;
    font-weight: 800;
}

.skills {
    margin-top: 20px;
}

.skill {
    margin: 10px 0;
}

.skill-name {
    font-weight: 600;
}

.skill-percent {
    text-align: right;
    opacity: 0.6;
}

.skill-progress {
    background-color: #f3f3f3;
    border-radius: 5px;
    height: 5px;
    margin-top: 5px;
    position: relative;
}

.progress-bar {
    background-color: #f03e3e;
    border-radius: 5px;
    height: 100%;
    animation: progress-animation 2s ease-out forwards;
}

@keyframes progress-animation {
    from {
        width: 0;
    }

    to {
        width: var(--progress-width, 0);
    }
}

.progress-bar1 {
    --progress-width: 80%;
}

.progress-bar2 {
    --progress-width: 70%;
}

.progress-bar3 {
    --progress-width: 40%;
}

.progress-bar4 {
    --progress-width: 75%;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

    a:hover {
        color: #ffcc00;
    }

.link {
    text-decoration: none;
    color: #c37b1e;
}

section {
    margin: 1rem 0;
}

b {
    font-weight: 800;
}

hr {
    width: 926px;
    margin: 40px 0px 40px -64px;
    opacity: 0.2;
}
